.details-1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-1 .recent-orders-1 {
    position: relative;
    width: 25%;
    height: 460px;
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.925);
}



@media (max-width : 768px) {
    .details-1 {
        grid-template-columns: 1fr;
    }

    .details-1 .recent-orders-1 {
        width: 100%;
        overflow-x: visible;
    }

    video {
        width: 90%; /* Adjust width as needed */
        height: 100%; /* Allow height to adjust proportionally */
    }
    #videoElement {
        transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }

    .btn-center {
        position: absolute;
        left: 35%;
    }
}

.container-1 {
    max-width: 650px;
    font-size: 18px;
    color: black;
    font-style: normal;
}


.container-2 {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;

}

.font-box {
    height: 375px;
    width: 250px;
    position: relative;
    border-radius: 10px;
}

.top-box {
    height: 39%;
    width: 100%;
    background-color: #8338ec;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom-box {
    height: 45%;
    width: 100%;
    background-color: white;
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-box img {
    height: 100px;
    width: 100px;
    background-color: #e6ebe0;
    border-radius: 10px;
    position: absolute;
    top:30px;
    left: 75px;
}
.bottom-box p {
    position: relative;
    top: 50px;
    text-align: center;
    /* text-transform: capitalize; */
    font-weight: bold;
    font-size: 20px;
    text-emphasis: spacing;
}
.bottom-box .designation {
    font-size: 12px;
    color: grey;
    font-weight: normal;
}
.bottom-box .no {
    font-size: 15px;
    font-weight: normal;
}


.padding {
    border: 2px solid black;
    border-radius: 20px;
}


.btn-center {
    position: absolute;
    left: 45%;
}

.btn-center-1 {
    position: absolute;
    left: 34%;
}
video{
    height: 90vh;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}
#videoElement{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
}

/* You can add additional CSS to style the button further */

@media screen and (max-width: 500px) {
    video {
        width: 100%; /* Adjust width as needed */
        height: 380px; /* Allow height to adjust proportionally */
    }
    #videoElement {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
    }
    .btn-center{
        left: 30%; /* Center horizontally */
        
    /* Move back by half of its width */
    }
}
